#SASS {
  width: 500px;
  height: auto;
  animation-name: fading;
  animation-duration: 10s; }

#SASS:hover {
  color: crimson;
  font-size: 20px;
  border: double 1px blue; }

body {
  background: linear-gradient(red, yellow);
  height: 1000px;
  width: auto; }

#Hidden {
  display: none;
  font-size: 24px;
  color: blue; }

#textbox {
  border: 3px solid black;
  width: 300px;
  height: auto;
  animation-name: flashing;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes flashing {
  0% {
    background-color: red;
    color: white; }
  25% {
    background-color: yellow; }
  50% {
    background-color: blue;
    color: chartreuse; }
  100% {
    background-color: pink; } }
@keyframes fading {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

