$primaryColor:blue;
$secondaryColor:pink;
$thirdColor:red;


#SASS {
            
            width: 500px;
            height: auto;
            animation-name:fading;
            animation-duration: 10s;
            
        }
 #SASS:hover{
    color:crimson;
    font-size:20px;
    border:double 1px blue;
}
        body {
            background: linear-gradient($thirdColor,yellow);
            height: 1000px;
            width: auto;
        }

        .Introduction {

        }

        #Hidden {
            display: none;
            font-size: 24px;
            color:$primaryColor;
        }

        #textbox {
            border: 3px solid black;
            width: 300px;
            height: auto;
            animation-name: flashing;
            animation-duration:4s;
            animation-iteration-count:infinite;
        }

        @keyframes flashing {
            0% { background-color:$thirdColor; color:white;}

            25% {background-color: yellow;}

            50% {background-color:$primaryColor; color:chartreuse;}

            100% {background-color: $secondaryColor}

        }
        @keyframes fading{
            from{opacity:0;}
            to{opacity:1;}
        }
